apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: <YOUR-NAMESPACE>
spec:
  replicas: <REPLICA-COUNT>
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: <YOUR-FRONTEND-IMAGE>
        imagePullPolicy: Always
        ports:
        - containerPort: <FRONTEND-PORT>
